@use "../abstracts/tokens" as *;

.sec-3-bg {
  // background: url("../../../images/image-02.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  background-blend-mode: multiply;
  padding: 64px 0px;
}
.sec-3-content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  gap: 24px;
  img {
    width: 200px;
  }
}
.sec-3-content > div  img{
  // height: 100%;
  padding: 1rem;
}
.sec-3-content > div {
  align-items: center;
  padding: 1rem;
  background: var(--bg);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.sec-3-content div h5 {
  line-height: normal;
  letter-spacing: auto;
  font-weight: 500;
}

@include max-down($bp-xs) {
  .sec-3-content {
    flex-direction: column;
    img {
    }
    > div {
      padding: 0rem;
    }
  }
}
