:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}
h1,
h2,
h3 {
  margin: 0;
}
#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: nowrap;
  align-content: center;
  align-items: baseline;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 999;
}
nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#building-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.container {
  display: flex;
  gap: 2rem;
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
}

.controls select {
  padding: 0.5rem;
  background: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
}

.floor-plan {
  flex: 1;
  display: flex;
  justify-content: center;
}

#floor-svg {
  width: 100%;
  max-width: 800px;
  max-width: 90vw;
  max-height: 90vh;
  height: auto;
}

.side-panel {
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  padding: 1rem;
}

.flats-list,
.flat-details {
  background: #333;
  padding: 1rem;
  border-radius: 8px;
}

#flats-select {
  width: 100%;
  padding: 0.5rem;
  background: #444;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
}

.flat-details {
  height: 100%;
}

.building-info h2,
.floor-info h2,
.flats-list h2,
.flat-details h2 {
  margin-top: 0;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
footer {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9em;
  color: #888;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
