@use "../abstracts/tokens" as *;

body {
  // background-image: linear-gradient(180deg, var(--bg) 0%, #f3f1f3 100%);
  margin: 0;
  padding: 0;
}

header,
nav,
footer,
div,
main,
section,
article {
  display: block;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1440px;
  padding: 0 16px;
}

.container {
  width: 1368px;
  margin: 0 auto;
}

@include max-down($bp-lg) {
  .container {
    max-width: 1140px;
  }
}

@include max-down($bp-md) {
  .container {
    max-width: 960px;
  }
}

@include max-down($bp-sm) {
  .container {
    max-width: 720px;
  }
}

@include max-down($bp-xs) {
  header {
    padding: 0px 12px;
  }
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
  section {
    padding-top: 12px;
  }
}

